<link href="/css/style.css" rel="stylesheet" type="text/css">


<div class="regbox">
<h1 class="change">Register</h1>


<form action="/register" method="POST">
    <!--NAME-->
    <div id="Name">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
    </div>
    <!--EMAIL-->
    <div id="Email">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
    </div>
    <!--PASSWORD-->
    <div id="Password">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>

    <button type="submit">Register</button>
</form>

<br>

<a href="/login" class="click">I already have a account</a>
</div>
